**/node_modules
**/.gitignores

/.svelte-kits
/build

Dockerfile
compose.yaml
.dockerignore

.git
.gitignore
.gitattributes
/.github

docs
README.md
LICENSE*

.npmrc
.prettierrcs
eslint.config.js
lint-staged.config.js

/.husky

**/.env